extends ../layout

block page
  - var menu = 'help'
block content
  h1 Participation
  p To participate in an experiment, please, follow these steps:
  ol
    li Choose the experiment that you would like to participate in.
    li The next page asks for your information 
      p Note: all fields are mandatory except the &quot;disability&quot, 
        | and disability is site related disability otherwise the relation is stated.
      p Note: the form does not ask for peronal information that can be traced back to you.
    li The next page is the task page you are not provided with you position in the quiz,
      | therefore you will not know how many tasks are left to be completed.
      p Note: all tasks are timed,
        | in some experiments you are provided with a decrementing timer at the bottom of the task&apos;s text,
        | but most experiments do not proide this option.
    li When finished you will be redirected back to the home page where you can participate in another experiment
    li The system will not remeber you, so if you participate in another experiment, 
      | you will have to re-enter your details.
  p Thank you for your interest, and thak you taking time to participate.
